<div class="row">
    <div class="col-md-g col-md-offset-3">
        <h1 class="text-center" style="color:#e0e0e0">Edit Your Profile</h1>
        <p class="text-center" style="color:#e0e0e0">Be a part of the community and keep your profile up to date!</p>
        <div class="well">
            <%= render "form" %>
        </div>
    </div>
</div>