<div class ='row'>
    <div class="col-md-6 col-md-offset-3 text-center" style="color:#e8e8e8">
      <% if params[:plan] == '3' %>
        <h1> Apostle Membership </h1>
        <p>Ensure the future of this work and enjoy full access to our prayer resources. ($20/month)</p>
      <% elsif params[:plan] == '2'%>
        <h1> Disciple Membership </h1>
        <p>Help this initiative to grow and get access to helpful tools. ($5/month)</p>
      <% else %>
        <h1 color='#ffffff'> Believer Membership </h1>
        <p>Take up the work of interceding for the world. Join our community for free!</p>
      <% end %>
    </div>
    <div class='col-md-6 col-md-offset-3'>
      <div class='well'>
        <h2>Sign up</h2>
        
        <% if params[:plan] == '3' %>
          <%= render "apostle_form" %>
        <% elsif params[:plan] == '2'%>
          <%= render "disciple_form" %>
        <% else %>
          <%= render "believer_form" %>
        <% end %>
      
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>