<div class='text-center non-well'>
<h2>About Us</h2>

<p>We are a group of Christians who understand that ours is a time of unprecedented evil and suffering, and that as Christians we truly have the power to affect real, positive change.  How is that change possible?  Through the power of Christ ultimately, but He has chosen to use us to help each other on Earth - through the ministry of intercession.  In order to make it accessible and realistic for as many as possible, the Total Mercy Apostles commit to pray every day.</p>
</div>